.semi-container2 {
    width: 40%;
    height: 40%;
    margin: 50px;
    padding: 50px;
    font-size: 17px;
    box-shadow: 0 4px 10px rgba(95, 32, 255, 0.8);
    animation: pulse-shadow 2s infinite ease-in-out; 
    background-color: black;
    line-height: 29px;
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.container3{
    height: 90%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container4{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: black;
}

.button-container3{
    border: 3px solid var(--btn-bg);
    border-radius: 4px;
    color: var(--btn-bg);
    height: 3rem;
    width: 15rem;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.button-container3:hover{
    background-color: var(--btn-bg);
    color: white;
    transition: all 0.2s ease-in-out;
}
